<div class="sg-5 about">
  <%= link_to raw('<span>about</span>'), page_path(:about) %>
</div>
<div class="sg-5 portfolio">
  <%= link_to raw('<span>portfolio</span>'), :controller => 'categories' %>
</div>
