<div class="sg-5 about">
  <%= link_to content_tag(:span, "about"), page_path(:about) %>
</div>
<div class="sg-5 portfolio">
  <%= link_to content_tag(:span, "portfolio"), controller: "categories" %>
</div>
