%h2 Admin Users

%table
  %thead
    %tr
      %th Email
      %th Last Signed In?
      %th IP Address
      %th
  %tbody
    = render partial: 'admin_user', collection: @admin_users
  %tfoot
    %tr
      %td{ colspan: 4 }
%br/
= link_to 'New Admin User', new_admin_admin_user_path, class: [:button, :new]
