.alert, .notice
  border-style: solid
  border-width: 2px 0 2px
  padding: 0.7em 1.4em

.alert
  border-color: #993300
  background: #ffddcc
  color: #662200

.notice
  border-color: #339900
  background: #ddffcc
  color: #226600