<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= image_tag field.data.thumb('32x32#').url, alt: nil if field.data.present? %>
  <%= f.file_field field.attribute %>
</div>
