%h2 Categories

%table
  %thead
    %tr
      %th Name
      %th Slug
      %th Base Colour
      %th
  %tbody
    = render @categories
  %tfoot
    %tr
      %td{:colspan => 5}
%br/
= link_to 'New Category', new_admin_category_path, :class => [:button, :new]
